
@{
    ViewBag.Title = "ErrorLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center alert-danger" style="padding: 20px">
    <h2 class="">Wrong Login</h2>
    <a class="btn btn-primary" href="../User/Register">Register</a>
    <strong>OR</strong>
    <a class="btn btn-primary" href="../User/Login">Try again</a>
</div>

