<div class="main-body" style="position: relative">

    <div style="background: #222222; display: inline; position: fixed; width: 20%; height: 517px" class="side-bar">
        
        <div class="list-group">
            <button type="button" class="list-group-item"><i style="padding: 1px 5px; color: white" class="fas fa-user"></i> Profile</button>
            <button type="button" class="list-group-item"><i style="padding: 1px 5px; color: white" class="fas fa-plus"></i> Create new post</button>
            <button type="button" class="list-group-item"><i style="padding: 1px 5px; color: white" class="fas fa-book-reader"></i> My posts</button>
            <button type="button" class="list-group-item"><i style="padding: 1px 5px; color: white" class="fas fa-paper-plane"> </i>Received proposals</button>
        </div>
    </div>

    <div style="display: inline; position: absolute; width: 80%; right: 0px;" class="container">

        
        
    </div>

</div>